.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  width: 220px;
  @media (max-width: 1000px) {
    margin: 0 auto;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &:nth-child(3) {
      margin-top: 5px;
    }
    .dot {
      position: relative;
      border: 1px solid #535bf2;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      &::before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: #535bf2;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.15s opacity ease-in-out;
      }
      &.selected {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}