.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 20px;
  .photo {
    position: relative;
    width: 100%;
    min-height: 20px;
    cursor: pointer;
    &__btn {
      width: 100%;
      &.active {
        border-color: green;
      }
    }
    input {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }
  input {
    padding: 10px;
    border-radius: 5px;
    border: 0;

  }
  button {
    border: 1px solid #646cff;
    transition: 0.2s background-color ease-in-out;
    &:hover {
      background-color: #111;
    }
  }
}