.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 20px;

  input {
    padding: 10px;
  }
  button {
    border: 1px solid #646cff;
    transition: 0.2s background-color ease-in-out;
    &:hover {
      background-color: #111;
    }
  }
}