.orders {
  position: relative;
  border: 1px solid #646cff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 8px;
    width: 100%;
    div {
      margin-bottom: 10px;
    }
  }
  .id {
    text-align: left;
  }
  .date {
    text-align: right;
  }
  .complete {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}